<!DOCTYPE html>
<html lang="en">
<head>
   <title>Login</title>
</head>
<body>
   <div class="login-container">
       <h1>Login</h1>
       <form (submit)="onSubmit()">
           <label for="username">Username</label>
           <input type="text" id="username" [(ngModel)]="loginData.username" name="username" placeholder="Enter your username" required>
          
           <label for="password">Password</label>
           <input type="password" id="password" [(ngModel)]="loginData.password" name="password" placeholder="Enter your password" required>
          
           <button type="submit">Sign in</button>
       </form>
   </div>
</body>
</html>